.toolbar .new-page button
{
   background: transparent url(../images/new-wiki-page-16.png) no-repeat 12px 4px;
   padding-left: 32px;
}

.toolbar .new-page .yui-button-disabled button
{
   background: transparent url(../images/new-wiki-page-unavailable-16.png) no-repeat 12px 4px;
}